<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>sagasu indexing</string>

        <key>ProgramArguments</key>
        <array>
            <string>sagasu</string>
            <string>indexing</string>
        </array>

        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>10</integer>
                <key>Minute</key>
                <integer>00</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>21</integer>
                <key>Minute</key>
                <integer>00</integer>
            </dict>
        </array>

        <key>StandardOutPath</key>
        <string>/Users/kazuyuki-hashimoto/.sagasu/std/out</string>

        <key>StandardErrorPath</key>
        <string>/Users/kazuyuki-hashimoto/.sagasu/std/err</string>
    </dict>
</plist>
